TARGET_BASE_URLS=http://api-1.example.test,http://api-2.example.test
LOAD_REQUEST_TIMEOUT=5s
PROMETHEUS_URL=http://prometheus.example.test:9090
PROMETHEUS_STEP=15s
PROMETHEUS_NAMESPACE=example-namespace
PROMETHEUS_JOB=example-api
PROMETHEUS_POD_REGEX=example-api.*
PROMETHEUS_LOAD_GENERATOR_JOB=example-load-generator
PROMETHEUS_LOAD_GENERATOR_DEVICE_REGEX=eth0
PROMETHEUS_NODE_EXPORTER_JOB=node-exporter
